<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.frontline.offline.tests">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />
    <application android:label="Frontline Test Harness" android:debuggable="true" android:testOnly="true" />
    <instrumentation android:name="com.frontline.offline.tests.NativeGestureTest" android:targetPackage="com.frontline.offline" />
    <instrumentation android:name="com.frontline.offline.tests.NativeV10Test" android:targetPackage="com.frontline.offline" />
</manifest>
